html {
   --global-font: #f5f2f2;
   --black-font: #5c5c5c;
}

body {
   -webkit-tap-highlight-color: transparent;
   position: relative;
   width: 90%;
   min-height: 100vh;
   margin: auto;
   color: var(--global-font);
   font-family: "Noto Sans KR", sans-serif;
   background-color: #005e78;
   background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgb(0, 152, 155) 0.1%,
      rgb(0, 94, 120) 94.2%
   );
   background-repeat: no-repeat;
   background-attachment: fixed;
}

a {
   color: var(--global-font);
}

a:visited {
   color: var(--global-font);
}

a:hover {
   color: rgba(245, 242, 242, 54%);
}

::-webkit-scrollbar {
   width: initial;
}

::-webkit-scrollbar-track {
   background: inherit;
}

::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 6%);
   border-radius: 1rem;
}

::-webkit-scrollbar-corner {
   background: transparent;
}

.header {
   display: flex;
   justify-content: space-between;
   justify-items: center;
   height: 111px;
}

.header__link {
   display: inherit;
   height: inherit;
}

.header__logo {
   margin: auto 0;
}

.header__menu {
   display: inherit;
   flex-direction: column;
   height: 48px;
   margin: auto 0;
   padding-right: 1.2rem;
   background-color: rgba(255, 255, 255, 12%);
   border-radius: 24px;
   cursor: pointer;
}

.header__menu:hover .submenu {
   display: block;
}

.menu {
   display: inherit;
   flex-direction: row;
   width: max-content;
   align-items: center;
   height: inherit;
   box-sizing: border-box;
   margin: auto 0;
}

.menu__image {
   margin: 0;
   margin-left: 0;
   border: 1px rgba(245, 242, 242, 12%) solid;
   background-color: rgba(245, 242, 242, 18%);
   height: inherit;
   width: 48px;
   border-radius: 50%;
   box-sizing: inherit;
   overflow: hidden;
}

.menu__image img {
   width: 48px;
   box-sizing: border-box;
}

.menu__title {
   margin-left: 0.3rem;
}

.submenu {
   display: none;
   margin-top: 0;
   padding-top: 0.6rem;
   list-style: none;
   text-align: right;
}

.submenu__item {
   text-decoration: none;
   color: var(--global-font);
}

.submenu__item:visited {
   color: var(--global-font);
}

.submenu__item:hover {
   color: #abcaca;
}

.search {
   display: flex;
   flex-direction: column;
   margin: auto;
}

.search__title {
   margin: 9rem auto 1.2rem auto;
}

.search__input {
   height: 2.4rem;
   margin: auto;
   overflow: hidden;
   width: 60%;
   padding: 0;
   padding-left: 2.1rem;
   color: var(--global-font);
   border: 1px rgba(245, 242, 242, 9%) solid;
   outline: none;
   font-size: 1rem;
   border-radius: 5.6rem;
   background-image: url(../images/search.png);
   background-repeat: no-repeat;
   background-size: 1.2rem;
   background-position: 0.6rem;
   background-color: rgba(245, 242, 242, 18%);
}

.search__input::placeholder {
   color: rgba(171, 202, 202);
}

.search__input::-webkit-search-cancel-button {
   -webkit-appearance: none;
   margin-right: 0.72rem;
   margin-left: 0.3rem;
   background-image: url("../images/remove.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   height: 0.72rem;
   width: 0.72rem;
   filter: opacity(54%);
}

.carousel {
   width: 100%;
   margin-top: 24vh;
}

.carousel__grid {
   padding: 20px 0 0 0;
   white-space: nowrap;
   position: relative;
   overflow: scroll;
}

.carousel:hover .carousel__item {
   opacity: 0.3;
}

.carousel:hover .carousel__item:hover {
   transform: scale(1.2);
   opacity: 1;
}

.carousel__item {
   display: inline-block;
   position: relative;
   width: 200px;
   height: 200px;
   margin: 0 0.6rem 30px 0.6rem;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 12%);
   overflow: hidden;
   cursor: pointer;
   transition: 600ms;
   transform-origin: center left;
   opacity: 0.9;
}

.carousel__item:first-child {
   margin-left: 0;
}

.carousel__item:last-child {
   margin-right: 54px;
}

.carousel__title {
   margin-bottom: 0.6rem;
}

.carousel__item:hover ~ .carousel__item {
   transform: translateX(40px);
}

.carousel__image--cover {
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.carousel__overlay {
   display: none;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   top: 48%;
   bottom: 0;
   right: 0;
   left: 0;
   overflow: hidden;
}

.carousel__item:hover .carousel__overlay {
   background-image: linear-gradient(
      to bottom,
      rgba(0, 152, 155, 0) 5%,
      rgba(0, 0, 0, 1)
   );
}

.carousel__title--song {
   color: var(--global-font);
   margin: 0.3rem auto;
}

.carousel__item:hover .carousel__overlay {
   display: flex;
}

.carousel__play {
   align-self: center;
   width: 0.9rem;
   height: 0.84rem;
}

.carousel__subtitle--band {
   align-self: center;
   font-size: 0.48rem;
   margin: 0;
}

.footer {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 1rem;
   margin: 0 auto;
   text-align: center;
   font-size: 0.84rem;
}

.footer a {
   text-decoration: none;
   margin-right: 1rem;
}

@media (max-width: 768px) {
   .header {
      height: 84px;
   }

   .header__link {
      margin: auto;
   }

   .header__menu {
      position: relative;
      padding-right: 0;
   }

   .menu__title {
      display: none;
   }

   .submenu {
      position: absolute;
      top: 42px;
      right: 0.3rem;
   }

   .carousel {
      margin-top: 12vh;
   }

   .search__title {
      margin-top: 4.8rem;
      text-align: center;
   }

   .search__input {
      width: 90%;
   }

   .search__input {
      height: 2.1rem;
   }

   .footer {
      bottom: -1.8rem;
      padding-bottom: 1rem;
      font-size: 0.6rem;
   }
}

/* Log In */

.body--background {
   background-image: radial-gradient(
         circle farthest-corner at 10% 20%,
         rgba(57, 160, 161, 0.72) 0.1%,
         rgba(0, 94, 120, 0.84) 94.2%
      ),
      url(../images/musician.jpg);
   background-color: unset;
   background-size: cover;
   background-position: center left;
}

.login {
   width: 18%;
   margin: 5.4rem 5.4rem 0 auto;
}

.login__title {
   margin-bottom: 1rem;
}

.login__container {
   padding-top: 3.6rem;
}

.login__input {
   height: 1.5rem;
   margin: 0.9rem auto;
   overflow: hidden;
   width: 100%;
   padding: 0.9rem;
   padding-top: 1rem;
   color: var(--global-font);
   border: 1px rgba(245, 242, 242, 9%) solid;
   outline: none;
   font-size: 1rem;
   border-radius: 5.6rem;
   background-color: rgba(245, 242, 242, 18%);
   box-sizing: border-box;
}

::placeholder {
   color: rgba(171, 202, 202);
}

.login__btn {
   height: 1.8rem;
   width: 100%;
   margin: 1.2rem 0;
   overflow: hidden;
   padding: 0 1.2rem;
   color: var(--global-font);
   border: 1px rgba(245, 242, 242, 0.72) solid;
   outline: none;
   font-size: 1rem;
   border-radius: 5.6rem;
   background-color: unset;
   cursor: pointer;
   letter-spacing: 0.1rem;
}

.login__keep-signed {
   display: inline;
   position: relative;
   font-size: 0.6rem;
   padding-left: 0.9rem;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.login--checkbox-default {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.login--checkbox-new {
   position: absolute;
   top: 2.7px;
   left: 0;
   height: 0.6rem;
   width: 0.6rem;
   border-radius: 0.12rem;
   background-color: var(--global-font);
}

.login__keep-signed:hover .login--checkbox-default ~ .login--checkbox-new {
   background-color: white;
}

.login__keep-signed .login--checkbox-default:checked ~ .login--checkbox-new {
   background-color: rgba(245, 242, 242, 18%);
}

.login--checkbox-new::after {
   content: "";
   position: absolute;
   display: none;
}

.login__keep-signed
   .login--checkbox-default:checked
   ~ .login--checkbox-new:after {
   display: block;
}

.login__keep-signed .login--checkbox-new:after {
   left: 3px;
   top: -3px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.login__forgot {
   display: inline;
   float: right;
   margin-top: 0.48rem;
   vertical-align: baseline;
   text-decoration: none;
   font-size: 0.6rem;
}

.login__socialmedia {
   margin-top: 3rem;
}

.socialmedia:hover {
   opacity: 0.54;
}

.login a {
   text-decoration: none;
}

@media screen and (max-width: 1024px) {
   .body--background {
      background-position: 21%;
   }

   .login {
      width: 72%;
      margin: 0 auto;
   }
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
   .login {
      width: 30%;
   }

   .footer {
      bottom: -1rem;
      padding-bottom: 1rem;
      font-size: 0.6rem;
   }
}
/* /Log In */ ;
