html {
   --global-font: #f5f2f2;
   --black-font: #5c5c5c;
}

body {
   width: 90%;
   margin: auto;
   color: var(--global-font);
   font-family: "Noto Sans KR", sans-serif;
   background-color: #8bc6ec;
   background-image: linear-gradient(-62deg, #8bc6ec, #9599e2);
   background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      #00989b 0.1%,
      #005e78 94.2%
   );
   background-repeat: no-repeat;
   background-attachment: fixed;
}

::-webkit-scrollbar {
   width: initial;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 18%);
   border-radius: 1rem;
}

.header {
   display: flex;
   justify-content: space-between;
   justify-items: center;
   height: 111px;
}

.header__logo {
   justify-items: center;
   margin: auto 0;
}

.header__menu {
   display: inherit;
   flex-direction: column;
   /* width: 100px; */
   height: 48px;
   /* margin: auto 0 auto auto; */
   margin: auto 0;
   /* padding: 0.05%; */
   padding-right: 1.2rem;
   background-color: rgba(255, 255, 255, 12%);
   border-radius: 24px;
   /* cursor: pointer; */
   /* box-sizing: content-box; */
   cursor: pointer;
}

.header__menu:hover .header__submenu {
   display: block;
}

.header__container {
   display: inherit;
   /* display: none; */
   flex-direction: row;
   width: max-content;
   align-items: center;
   height: inherit;
   box-sizing: border-box;
   margin: auto 0;
}

.header__menu--profile {
   margin: 0;
   margin-left: 0;
   border: 1px rgba(245, 242, 242, 12%) solid;
   background-color: rgba(245, 242, 242, 18%);
   height: inherit;
   width: 48px;
   border-radius: 50%;
   box-sizing: inherit;
}

.header__menu--profile img {
   width: 45px;
   box-sizing: border-box;
}

.header__menu--title {
   /* height: inherit; */
   margin-left: 0.6rem;
}

.header__submenu {
   display: none;
   margin-top: 0;
   padding-top: 0.6rem;
   list-style: none;
   text-align: right;
   /* font-size: 0.9rem; */
}

.header__item {
   text-decoration: none;
   color: var(--global-font);
}

.header__item:visited {
   color: var(--global-font);
}

.header__item:hover {
   color: #abcaca;
}

.search-form {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   margin: auto;
}

.sf-container {
   display: inherit;
   width: 66%;
   height: 2.4rem;
   flex-direction: row;
   margin: auto;
   /* border: 1px red solid; */
   overflow: hidden;
}

.search-form__title {
   margin: 9rem auto 1.2rem auto;
}

.search-form__input {
   width: 100%;
   padding: 0;
   padding-left: 2.1rem;
   color: var(--global-font);
   border: 1px rgba(245, 242, 242, 9%) solid;
   outline: none;
   font-size: 1rem;
   border-radius: 5.6rem;
   background-image: url(../images/search.png);
   background-repeat: no-repeat;
   background-size: 1.2rem;
   background-position: 0.6rem;
   background-color: rgba(245, 242, 242, 18%);
}

::placeholder {
   color: rgba(171, 202, 202);
}
